<!DOCTYPE html>
<html lang="es" dir="ltr" ng-app="bairesdev">
<head>
  <meta charset="utf-8">
  <title>BairesDev coding test</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript" src="js/bairesdev.js"></script>
</head>
<body ng-controller="users">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>BairesDev Users</h2>
        <p>This are the current users on the system: </p>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add User</button>
        <table class="table table-hover">
          <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr ng-repeat="user in users">
              <td>{{user._id}}</td>
              <td>{{user.first_name}}</td>
              <td>{{user.last_name}}</td>
              <td>{{user.age}}</td>
              <td>{{user.email}}</td>
              <td> <button> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button> | <button><i class="fa fa-trash" aria-hidden="true"></i></button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add user</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="name">First name:</label>
              <input type="text" class="form-control" ng-model="user.first_name" id="name">
            </div>
            <div class="form-group">
              <label for="last_name">Last name:</label>
              <input type="text" class="form-control" ng-model="user.last_name" id="last_name">
            </div>
            <div class="form-group">
              <label for="age">Age:</label>
              <input type="number" class="form-control" ng-model="user.age" id="age">
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" ng-model="user.email" id="email">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-default" ng-click="save()">Save</button>
          </div>
        </div>

      </div>
    </div>

  </body>
  </html>
